// Mixins in here
.buttonStyle() {
    background-color: @button-bg;
    color: white;
    width: 80%;
    border-radius: 8px;
    height: 15%;
    font-size: 1.8rem;

    &:hover {
        cursor: pointer;
        color: @button-bg;
        background-color: white;
    }
}