// Mixins in here
.buttonStyle() {
    background-color: @button-bg;
    color: white;
    width: 85%;
    border-radius: 15px;
    height: 5vh;
    font-size: 1.8rem;

    &:hover {
        cursor: pointer;
        color: @button-bg;
        background-color: white;
    }
}